<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color:#00ff40;"></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <div class="centrado">
    <div class="wrapper">
      <h1 style="color:#cecbcb;" *ngIf="usuario">
        Bienvenido, {{usuario.nombre}}
      </h1>

      <br>
      <ion-button class="btn" color="#" (click)="openCamera()">Abrir Cámara</ion-button>
      <br><br>

      <div id="video-container">
        <video id="video" style="width: 100%; max-width: 400px;" autoplay muted playsinline></video>
      </div>

    </div>
  </div>
</body>